<p>¡Hola {{ nombre }}!</p>
<p>Por favor haz click en el siguiente enlace para confirmar tu correo</p>
<p>
  <a href="{{ url }}">Confirmar</a>
</p>

<p>Si no has solicitado este correo puedes ignorarlo.</p>
